/*************************
        FONT-FAMILY
**************************/

@font-face {
  font-family: "Montserrat";
  src: url("./font/Monserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Poppins";
  src: url("./font/poppins/Poppins-Medium.ttf");
}

/*************************
          ROOT
**************************/

:root{
  --text-wght: 550;
  --black: #1d1d1b;
  --white: #e1e1e1;
  --beautiful-blue: #435596;
  --light-beautiful-blue: #b4b7d8;
  --normal-blue: #66a7d1;
  --blue-green-blue: #5bb7bf;
  --grey: #c7d0d9;
  --light-grey: #f0f0f0;
}

/*************************
          GLOBALS
**************************/

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: var(--light-grey);
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: var(--text-wght);
}

/*************************
          POSITIONS
**************************/
.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.fixed{
  position: fixed;
}

.maxWidth{
  width:100%;
}

/*************************
          CONTAINERS
**************************/

.smallpadding{
  padding: 0.5rem;
}

.bigPadding{
  padding: 2rem;
}

.smallMargin{
  margin: 0.5rem;
}

.container{
  margin: auto;
  width: 90%;
  text-align: center;
  border-bottom: var(--black) solid 1px;
}

/*************************
          DISPLAY
**************************/

.aroundFlex{
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.betweenFlex{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.hidden{
  display: none;
}

.column{
  flex-direction: column;
}

.textAlignStart{
  text-align: start
}

/*************************
          ELEMENTS
**************************/

.generalList{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--beautiful-blue);
}

a:hover{
  color: var(--light-beautiful-blue);
}

.mainColor{
  background-color: var(--beautiful-blue);
  color: var(--light-beautiful-blue);
}

.mainColor a {
  color: var(--white);
}

p{
  margin: 0;
}

/*************************
          FORM
**************************/

.form{
  background-color: var(--white);
  border: 1px solid var(--blue-green-blue);
  border-radius: 1rem;
  width: 100%;
  font-size: 1rem;
}

/*************************
          TITLES
**************************/

h1{
  font-family: 'Montserrat', serif;
  font-weight: 900;
  padding: 3rem;
  color: var(--normal-blue);
}

/*************************
          NAVBAR
**************************/

.topNavButton{
  top: 10rem;
  z-index: 0;
  object-fit: contain;
}

.topArrow{
  width: 2rem;
  height: auto;
}

.bottomArrow{
  width: 2.5rem;
  height: auto;
}

.welcome{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  align-items: flex-start;
  padding: 2rem;
}

.navBar{
  font-size: 1rem;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.topNav{
  top:0;
  left:0;
  color: var(--beautiful-blue);
  background-color: var(--light-grey);
  border-bottom: var(--black) solid 1px;
}

.navButtons{
  top: 7rem;
  color: var(--white);
}

.navButtons li{
  margin: 1.5rem;
}
.navButtons a{
  color: var(--white);
  background-color: var(--beautiful-blue);
  padding: 1rem;
  border-radius: 40%;
}

.bottomNav{
  bottom:0;
  left:0;
}

.smallMenu{
  top:100%;
  left:0;
  width: 100%;
  padding: 0.5rem;
}

.smallMenu p{
  margin: 0.5rem;
}

/*************************
        ANIMATION
          NAVBAR  
**************************/

.animWelcome {
    animation: animWelcome 1s;
}

@keyframes animWelcome {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.animFlecheViolet {
    animation: animFlecheViolet 1.5s;
}

@keyframes animFlecheViolet {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    25% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.hideButtons {
    animation: byBy 1.5s;
}

@keyframes byBy {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
      display: none;
    }
}
/*************************
        HOMEVIDEO
**************************/

#homeVideo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.scroll{
  overflow: scroll;
}

/*************************
      SHOWREEL
**************************/

.productionCard {
  width: 90%;
  border: solid black 1px;
  border-radius: 1rem;
  background-color: var(--grey);
}

/*************************
        METABOX
**************************/

.metaBoxVideo{
  width: 100%;
  height: 90vh;
}

.metaBox{
  color: var(--grey);
  background-color: black;
  
}

.metaBox > .container >* {
  border: 1px solid var(--light-grey);
  padding: 0.2rem;
}